@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Vibes&display=swap');


Body {
    font-family: 'IBM Plex Sans Arabic','Vibes', cursive, sans-serif;
    margin: 0;
}


header {
}

nav {
    display: flex;
    background-color: #8c66af;
    /* height: 50px; */
    align-items: center;
}
nav a{
    color:#fff;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}
nav a:hover {
    background-color: #b194cc;
    border-radius: 5px;
}


.brand {
    font-weight: bold;
    margin-left: 10px;
}


.menu {
    flex-grow: 2;
}


.auth {
}


main {
}


#welcome {
    height: 70vh;
    background-color: #8ac4b7;
    background-image: url('v60.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}
#welcome h1 {
    margin: 0;
    font-size: 50px;
}
#welcome p {
    margin: 0;
}

.btn {
    color: #fff;
    background-color: #b194cc;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-family: 'IBM Plex Sans Arabic','Vibes', cursive, sans-serif;

}
.btn:hover {
    background-color: #b194cc;
}


#products {
    background-color: #8ac4b7;
}
#products header {
    text-align: center;
}
#products h1 {
    margin: 0;
    font-size: 35px;
    padding-top: 15px;
}

#products p {
    margin: 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list div {
    margin: 5px;
    max-width: 400px;
}

.card {
    border: 1px solid #8c66af;
    border-radius: 5px;
}
.card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer {
    background-color: #8c66af;
    text-align: center;
    padding: 15px;
}


footer a {
    color: black;
    text-decoration: none;
}
.footmenu {
    display: flex;
    justify-content: center;
}






